<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include Template/style.ejs %>
  </head>
  <body>
  <div class="container">
  <% include Template/header.ejs %>
  
    <h1 style="color:gray"><%= title %></h1>
  

    <a href="/chatbot"><button type="submit" class="btn btn-default">Chatbot Anna</button></a>




</div>
  </body>
</html>


  