
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/"><img src="/images/ITTage18_Logo.jpg" class="navbar-brand" href="/"></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class=""><a href="/">Home</a></li>
                <li class=""><a href="/chatbot">Chatbot</a></li>
            </ul>

        </div>

    </div>

</nav>

